@use "../shared/styles/variables" as *;

:host {
  display: block;
  padding: $spacer-m;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacer-m;

  select, option {
    width: 12rem;
  }

  button {
    margin: 0 $spacer-s;

    .mat-icon {
      margin: 0;
    }
  }
}
