<div class="interface-container">
  <div>
    <form [formGroup]="newFieldForm" [ngxsForm]="newFieldFormPath" (ngSubmit)="onAddField()">
      <p>Field Creator</p>
      <div class="field-creator">
        <input id="new-field-name" type="text" formControlName="name" placeholder="Chess Sheeplayers"/>
        <div class="button-flex">
          <button matButton="tonal" type="submit" [disabled]="newFieldForm.invalid">Add</button>
          <button matButton="tonal" type="button" (click)="onAddRandomField()">Random</button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <form [formGroup]="newSheepForm" [ngxsForm]="newSheepFormPath" (ngSubmit)="onAddSheep()">
      <p>Sheep Creator</p>
      <div class="sheep-creator">
        <div>
          <input id="new-sheep-name" type="text" formControlName="name" placeholder="Magnus Sheeplsen"/>
          <div class="sheep-details">
            <label for="new-sheep-gender">Gender:</label>
            <select id="new-sheep-gender" formControlName="gender">
              <option [ngValue]="Gender.Male">Male</option>
              <option [ngValue]="Gender.Female">Female</option>
              <option [ngValue]="Gender.Lamb">Lamb</option>
            </select>
            <label for="new-sheep-is-branded">Branded:</label>
            <input id="new-sheep-is-branded" type="checkbox" formControlName="isBranded"/>
          </div>
        </div>
        <div>
          <select id="new-sheep-field" formControlName="field">
            @for (field of fields$ | async; track field.name) {
              <option [value]="field.name">
                {{ field.name }}
              </option>
            } @empty {
              <option [value]="null">
                No fields added!
              </option>
            }
          </select>
          <div class="button-flex">
            <button matButton="tonal" type="submit" [disabled]="newSheepForm.invalid">Add</button>
            <button matButton="tonal" type="button" [disabled]="newSheepForm.controls.field.value === null"
                    (click)="onAddRandomSheep()">Random
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="fields-container">
  @for (field of fields$ | async; track field.name) {
    <div>
      <h3>{{ field.name }}</h3>
      @for (row of field.rows; track row.id) {
        <div class="row-of-sheep">
          <div [style.visibility]="row.femaleSheep?.id ? 'visible' : 'hidden'">
            <img src="/assets/sheep-icons/sheep-female.png"
                 alt="Sheep female">
          </div>
          <div [style.visibility]="row.isMatingNow ? 'visible' : 'hidden'">
            <div class="lds-heart">
              <div></div>
            </div>
          </div>
          <div [style.visibility]="row.maleSheep?.id ? 'visible' : 'hidden'">
            <img src="/assets/sheep-icons/sheep-male.png"
                 alt="Sheep male">
          </div>
        </div>
      }

      <div class="lamb-container">
        @for (lamb of field.lambs; track lamb.id) {
          <img src="/assets/sheep-icons/sheep-lamb.png" alt="lamb">
        }
      </div>
    </div>
  }
</div>
