@use "shared/styles/variables" as *;

@mixin interface-flex-column {
  display: flex;
  flex-direction: column;
  gap: $spacer-s;
}

p {
  margin-bottom: $spacer-s;
}

.interface-container {
  display: flex;
  justify-content: center;
  padding: $spacer-l;
  background-color: $dark-orange;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.40);

  @media (max-width: $media-l) {
    flex-direction: column;
    padding: $spacer-m $spacer-l;
  }

  > * {
    padding: $spacer-m $spacer-l;

    @media (max-width: $media-l) {
      padding: $spacer-s $spacer-l;
    }
  }

  > :first-child {
    background-color: $light-blue;
  }

  > :last-child {
    background-color: $light-green;
  }
}

.field-creator {
  @include interface-flex-column;

  @media (max-width: $media-l) {
    padding: 0 $spacer-l;
  }

  @media (max-width: $media-m) {
    padding: 0 $spacer-s;
  }
}

.sheep-creator {
  justify-content: center;
  display: flex;
  gap: $spacer-l;

  @media (max-width: $media-l) {
    padding: 0 $spacer-l;

    > * {
      flex: 1 1 0;
    }
  }

  @media (max-width: $media-m) {
    flex-direction: column;
    padding: 0 $spacer-s;
  }

  > div {
    @include interface-flex-column;
  }
}

.button-flex {
  display: flex;
  gap: $spacer-m;

  @media (max-width: $media-l) {
    justify-content: center;

    > * {
      flex: 1 1 0;
    }
  }

  @media (max-width: $media-m) {
    gap: $spacer-s;
  }
}

.sheep-details {
  display: flex;
  height: $interface-element-height;
  align-items: center;
  gap: $spacer-s;

  > select {
    flex: 1 1 0;
  }
}
