@use "shared/styles/variables" as *;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  gap: $spacer-s;
}

@mixin grow-evenly {
  flex: 1 1 0;
}

.interface-container {
  display: flex;
  justify-content: center;
  padding: $spacer-l;
  background-color: $dark-orange;

  @media (max-width: $media-l) {
    flex-direction: column;
    padding: $spacer-m $spacer-l;
  }

  > * {
    padding: $spacer-m $spacer-l;

    @media (max-width: $media-l) {
      padding: $spacer-s $spacer-l;
    }
  }

  > :first-child {
    background-color: $light-blue;
  }

  > :last-child {
    background-color: $light-green;
  }
}

.field-creator {
  @include flex-column;

  @media (max-width: $media-l) {
    padding: 0 $spacer-l;
  }

  @media (max-width: $media-m) {
    padding: 0 $spacer-s;
  }
}

.sheep-creator {
  display: flex;
  justify-content: center;
  gap: $spacer-l;

  @media (max-width: $media-l) {
    padding: 0 $spacer-l;

    > * {
      @include grow-evenly;
    }
  }

  @media (max-width: $media-m) {
    flex-direction: column;
    padding: 0 $spacer-s;
  }

  > div {
    @include flex-column;
  }
}

.button-flex {
  display: flex;
  gap: $spacer-m;

  @media (max-width: $media-l) {
    justify-content: center;

    > * {
      @include grow-evenly;
    }
  }

  @media (max-width: $media-m) {
    gap: $spacer-s;
  }
}

.sheep-details {
  display: flex;
  align-items: center;
  gap: $spacer-s;
  height: $interface-element-height;

  > select {
    @include grow-evenly;
  }
}
