<div class="interface-container">
  <div>
    <form [formGroup]="newFieldForm" [ngxsForm]="newFieldFormPath" (ngSubmit)="onAddField()">
      <p i18n>Field Creator</p>
      <div class="field-creator">
        <input id="new-field-name" type="text" formControlName="name" placeholder="Chess Sheeplayers"/>
        <div class="button-flex">
          <button i18n matButton="tonal" type="submit" [disabled]="newFieldForm.invalid">Add</button>
          <button i18n matButton="tonal" type="button" (click)="onAddRandomField()">Random</button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <form [formGroup]="newSheepForm" [ngxsForm]="newSheepFormPath" (ngSubmit)="onAddSheep()">
      <p i18n>Sheep Creator</p>
      <div class="sheep-creator">
        <div>
          <input id="new-sheep-name" type="text" formControlName="name" placeholder="Magnus Sheeplsen"/>
          <div class="sheep-details">
            <label i18n for="new-sheep-gender">Gender:</label>
            <select id="new-sheep-gender" formControlName="gender">
              <option i18n [ngValue]="Gender.Male">Male</option>
              <option i18n [ngValue]="Gender.Female">Female</option>
              <option i18n [ngValue]="Gender.Lamb">Lamb</option>
            </select>
            <label i18n for="new-sheep-is-branded">Branded:</label>
            <input id="new-sheep-is-branded" type="checkbox" formControlName="isBranded"/>
          </div>
        </div>
        <div>
          <select id="new-sheep-field" formControlName="field">
            @for (field of fields$ | async; track field.name) {
              <option [value]="field.name">
                {{ field.name }}
              </option>
            } @empty {
              <option [value]="null" i18n>
                No fields added!
              </option>
            }
          </select>
          <div class="button-flex">
            <button i18n matButton="tonal" type="submit" [disabled]="newSheepForm.invalid">Add</button>
            <button i18n matButton="tonal" type="button" [disabled]="newSheepForm.controls.field.value === null"
                    (click)="onAddRandomSheep()">Random
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="fields-container">
  @for (field of fields$ | async; track field.name) {
    <div>
      <h3>{{ field.name }}</h3>
      @for (row of field.rows; track row.id) {
        <div class="row-of-sheep">
          <div [style.visibility]="row.femaleSheep?.id ? 'visible' : 'hidden'">
            @if (row.femaleSheep?.isBranded) {
              <img src="assets/sheep-icons/sheep-female-branded.png"
                   alt="Sheep female" (click)="onBrandSheep(field.name, row.id, row.femaleSheep)">
            } @else {
              <img src="assets/sheep-icons/sheep-female.png"
                   alt="Sheep female" (click)="onBrandSheep(field.name, row.id, row.femaleSheep)">
            }
            <p>{{ row.femaleSheep?.name }}</p>
          </div>
          <div [style.visibility]="row.isMatingNow ? 'visible' : 'hidden'">
            <div class="lds-heart">
              <div></div>
            </div>
          </div>
          <div [style.visibility]="row.maleSheep?.id ? 'visible' : 'hidden'">
            @if (row.maleSheep?.isBranded) {
              <img src="assets/sheep-icons/sheep-male-branded.png"
                   alt="Sheep male">
            } @else {
              <img src="assets/sheep-icons/sheep-male.png"
                   alt="Sheep male" (click)="onBrandSheep(field.name, row.id, row.maleSheep)">
            }
            <p>{{ row.maleSheep?.name }}</p>
          </div>
        </div>
      }

      <div class="lamb-container">
        @for (lamb of field.lambs; track lamb.id) {
          <img src="assets/sheep-icons/sheep-lamb.png" alt="lamb">
        }
      </div>
    </div>
  }
</div>
<button class="rules-dialog" matButton="tonal" type="button" (click)="onShowRules()">
  <mat-icon>question_mark</mat-icon>
</button>

<button class="language-dialog" matButton="tonal" type="button" (click)="onChangeLanguageDialog()">
  <div>
    <img src="assets/uk-flag.png"
         alt="flag">
  </div>
</button>
