@use "shared/styles/variables" as *;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  gap: $spacer-s;
}

@mixin grow-evenly {
  flex: 1 1 0;
}

@mixin floating-button {
  position: fixed;
  height: 3rem;
  width: 5rem;
  bottom: $spacer-xl;
}

.interface-container {
  display: flex;
  justify-content: center;
  padding: $spacer-l;

  @media (max-width: $media-l) {
    flex-direction: column;
    padding: $spacer-m $spacer-l;
  }

  > * {
    padding: $spacer-m $spacer-l;

    @media (max-width: $media-l) {
      padding: $spacer-s $spacer-l;
    }
  }

  > :first-child {
    background-color: $light-blue;
  }

  > :last-child {
    background-color: $light-green;
  }
}

.field-creator {
  @include flex-column;

  @media (max-width: $media-l) {
    padding: 0 $spacer-l;
  }

  @media (max-width: $media-m) {
    padding: 0 $spacer-s;
  }
}

.sheep-creator {
  display: flex;
  justify-content: center;
  gap: $spacer-l;

  @media (max-width: $media-l) {
    padding: 0 $spacer-l;

    > * {
      @include grow-evenly;
    }
  }

  @media (max-width: $media-m) {
    flex-direction: column;
    padding: 0 $spacer-s;
  }

  > div {
    @include flex-column;
  }
}

.button-flex {
  display: flex;
  gap: $spacer-m;

  @media (max-width: $media-l) {
    justify-content: center;

    > * {
      @include grow-evenly;
    }
  }

  @media (max-width: $media-m) {
    gap: $spacer-s;
  }
}

.sheep-details {
  display: flex;
  align-items: center;
  gap: $spacer-s;
  height: $interface-element-height;

  > select {
    @include grow-evenly;
  }
}

.fields-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    min-height: 20rem;
    background-color: $light-green;
    border: $spacer-m solid $light-blue;
    margin: $spacer-s;
  }
}

.row-of-sheep {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  > div {
    @include grow-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4rem;
    position: relative;

    > img {
      height: 3rem;
    }

    > p {
      margin: 0;
      font-size: .5rem;
      position: absolute;
      bottom: -.1rem;
      outline: 1px dodgerblue solid;
      border-radius: $border-radius;
      background-color: white;
      padding: .1rem .3rem;
      width: 5rem;
    }
  }
}

.lamb-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: $spacer-l;

  > img {
    height: 2rem;
  }
}

.rules-dialog {
  @include floating-button;
  right: $spacer-xl;

  > .mat-icon {
    margin: 0;
  }
}

.language-dialog {
  @include floating-button;
  left: $spacer-xl;

  div {
    display: flex;
  }

  img {
    width: 2rem;
  }
}

/*heart*/

.lds-heart {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  transform-origin: 20px 20px;
}

.lds-heart div {
  top: 16px;
  left: 16px;
  position: absolute;
  width: 16px;
  height: 16px;
  background: palevioletred;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: palevioletred;
}

.lds-heart div:before {
  left: -12px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -12px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
