// SPACING
$spacer-s: .5rem;
$spacer-m: 1rem;
$spacer-l: 2rem;
$spacer-xl: 3rem;

// FONTS
$base-font-size: 16px;
$base-line-height: 1.4;
$base-font-colour: black;

//$font-size-xs: .6rem;
//$font-size-s: 1.3rem;
//$font-size-m: 1.6rem;
//$font-size-l: 2rem;
//$font-size-xl: 2.5rem;
//$font-size-xxl: 3rem;
