@use "app/shared/styles/variables" as *;
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-colour;
  margin: 0;
  padding: 0;
  height: 100%;
}
