@use "app/shared/styles/variables" as *;
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: $typography,
    density: 0,
  ));
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: $typography;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-colour;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $dark-orange;
}

p {
  margin: 0 0 $spacer-s 0;
  font-size: $font-size-m;
  text-align: center;
}

input, select {
  text-align: center;
  height: $interface-element-height;
  font-size: $font-size-s;
  border-radius: $border-radius;
  border: 1px solid #cccccc;
}

input[type="checkbox"] {
  width: 1.2rem;
  margin: 0
}

button {
  border-radius: $border-radius;
  font-size: $font-size-s;
  white-space: nowrap;

  &.mat-tonal-button {
    font-size: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-transform: inherit;
    height: $interface-element-height;
  }
}
